<h1>Teams</h1>

<ul class="teams-list">
<% @teams.each do |team| %>
  <li><%= image_tag "#{team.name.downcase.delete(' ')}.gif" %><%= link_to "#{team.location} #{team.name}", post_path(team.id) %>
  </li>
<% end %>
