<%= link_to (item.links["web"]["href"]), class: 'link-wrapper' do %>
<p class="no-pull" style="border-left-color: #<%= team.color %>;"><%= item.title || item.headline %><time><%= item.published.to_time %></time></p>
<% end %>