/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$text-color: #333;

html {
  font-family: 'Marcellus SC', serif;
}

body {
  max-width: 900px;
  padding: 1em;
  margin: 0 auto;
  background-color: #FFF;
}

body, p, a, a:hover {
  color: $text-color;
}

a, a:hover {
  text-decoration: none;
}

.team-info {
  img {
    width: 100%;
  }
}

.web-image {
  width: 50px;
}

.points {
  margin: 10px auto;
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  .point {
    margin: 1em auto;
    border-radius: 2px;
    position: relative;
    display: block;
    .overlay {
      background-color: rgba(68, 68, 68, 0.75);
      color: #EEE;
      margin: 0;
      position: absolute;
      top: 375px;
      z-index: 99;
    }
    p {
      border-left: 0.75em solid #002553;
      font-size: 1.5em;
      margin-bottom: 1em;
      padding: 1em 0.5em;
      width: 100%;
    }
  }
  .wrapper {
    display: block;
    max-height: 500px;
    overflow: hidden;
    img {
      width: 100%;
      overflow: hidden;
    }
  }
}

.admin-links li + li:before {
  content: ("-");
  padding-right: 5px;
}

time {
  font-size: 0.5em;
  display: block;
}

.point-header {
  position: relative;
}

.back {
  float: right;
  position: absolute;
  top: .5em;
  right: .5em;
}

footer {
  text-align: center;
  a {
    display: block;
  }
  img {
    margin: 1em 0;
  }
}